body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.texto-gracioso{
  color: #666;
}

.titulo-gei{
  font-size: 50px;
  font-weight: bold;
}

.size-checkbox{
  width: 25px; /* Ajusta el ancho según tu preferencia */
  height: 25px; /* Ajusta la altura según tu preferencia */
}

.label-color{
  color: white;
}

.btn-agregar{
  font-size: 21px;
  font-weight: 400;
  background-color: #111;
  color: white;
  padding: 3px;
  width: 300px;
}

.task-list{
  display: flex;
}
